.subTitle {
  font-size: 18px;
  line-height: 30px;
}

.input {
  display: block;
  font-size: 14px;
  /* line-height: 30px; */
  padding: 5px 0 5px 8px;
  margin-bottom: 31px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.25);
}
